button {
  font-family: inherit;
  font-weight: bold;
  border: none;
  background-color: bisque;
  color: #242424;
  margin: 15px;
  padding: 10px;
  height: 50px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #242424;
  transition: 0.1s;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  background-color: #242424;
  color: bisque;
  border: 1px solid bisque;
}

button:active {
  transform: translateY(8px);
}

#up_font-size:active {
  transform: translateY(-8px);
}

#down_font-size:active {
  transform: translateY(8px);
}

/* #reset_font-size {
  display: none;
  margin: 10px auto;
  height: 30px;
} */

#logo_btn {
  width: auto;
  height: auto;
  margin-top: 150px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid bisque;
  background-color: unset;
  transition: 1s;
}

#logo_btn:hover {
  background-color: bisque;
}

#prev_hw {
  margin-left: auto;
}